
// Menu
.navbar-toggle{
	cursor: pointer;
	float: right;
	background: none;
	border: 0;
	padding: 13px 0px 13px 20px;

	&:focus{
		outline: none;
	}

	.fas{
		font-size: 2em;
		color: #fff;
		border: 0;
		box-shadow: none;
	}
}

.navbar-toggle-close{
	position: absolute;
    right: 0;
    padding: 18px;
    font-size: 2em;
    color: #f00;
    cursor: pointer;
    z-index: 99;
}

.navbar-default {

	.navbar-toggle{
  		z-index: 999;
		margin-right: 0;
		border: 0;
		border-radius: 0;
		color: #fff;
		background: none;
		padding: 6px 6px;

		.icon-bar {
			display: block;
			width: 35px;
			height: 4px;
			border-radius: 1px;
			background-color: #212020;
		}

		&:focus, &:hover{
 			background: none;
		}
	}
}

nav h2{
	display: none;
}

.menu-base-theme{
	background: none;

	ul{
		border: 0;
		background: none;
		position: static;
		width: 100% !important;
		min-width: 100% !important;

		ul{
			background: none;
			ul{
				background: none;
			}
		}
	}

	li{
		border: 0;
		display: block;
		width: 100%;

		a{
			font-family: $titleFontFamily;
			color: #fff;
			border-bottom: 1px solid #4c4a4a;
			line-height: 100%;
			padding: 24px 30px;
			font-size: 1.1em;
			background: none;
			border: 0;
			text-transform: uppercase;

			&:hover, 
			&:focus, 
			&:active, 
			&.highlighted{
				border: 0;
				background: none;
				color: $menuTextActiveColor;
				line-height: 100%;
				padding: 24px 30px;
			}

			span.sub-arrow{
				font-size: 2em;
				border: 0;
				margin: 0;
				width: 20px;
				height: 19px;
				display: inline-block;
				bottom: auto;
				top: 23px;
				right: 10px;
				position: absolute;
				left: auto;
			}

			&.highlighted span.sub-arrow:before {
				display: block;
				content: '-';
				height: 20px;
				line-height: 40%;
			}
		} 
	}
}

.region-primary-menu{
    background: #000;
    position: fixed;
    top: 0;
   	right: -100%;
	bottom: 0;
    z-index: 999;
	width: 300px;
	@include transition(all .5s);
	@include border-radius(0px);

	&.expand{
		right: 0;
	}
}

// Footer Menu
.region-footer-menu{	
	ul{
		margin: 10px 0;
		padding: 0;
	}
	nav li{
		display: inline-block;
		a{
			display: block;
			padding: 2px 15px 2px 0;
		}
	}
}

// Top Menu
.top-menu{
	font-size: .75em;
	background: #313d48;
	color: #fff;

	.top-blocks{
		overflow: hidden;

		.region {
			padding: 10px 10px 10px 0;
		}
		.social-media{
			padding: 9px 0;
		}
	}

	p, .block {
		margin: 0;
	}

	a{
		color: #fff;
	}

}

.region-top-menu{

	ul{
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		
		a{
		    padding: 2px 10px; 
		    text-transform: uppercase;
		    line-height: 100%;
		}
	}
}